/* Styling for the form container */
#custom-contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for form labels */
label {
    display: block;
    margin-bottom: 8px;
}

/* Styling for form input fields and textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Styling for the Submit button */
input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* Hover effect for the Submit button */
input[type="submit"]:hover {
    background-color: #005bbd;
}

#result {
    color: green;
}

/* Style for the food categories */
.food-categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-category {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.food-category h2 {
    font-size: 24px;
    margin: 0;
}

.food-category .food-image {
    margin: 10px 0;
    
} 
.food-category .food-image img{
    object-fit: cover;
    max-width: 100%; /* Make the image responsive */
    height: 300px;
}

.food-category .food-description {
    font-size: 16px;
}

.food-category .food-list li {
    list-style-type: circle;
    margin-left: 20px;
}

.food-category .food-list li {
    margin-bottom: 5px;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .food-categories-container {
        display: block; /* Change to a single column layout */
    }

    .food-category {
        width: 100%; /* Full width for single column */
    }
}

